
    
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    animation: fadeOut 3s ease-in-out 5s forwards; 
}

    .splash-screen img {
        width: 100%;
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }

    
    .main-content {
        padding: 20px;
        animation: fadeIn 3s ease-in-out forwards;  
    }
 
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            visibility: hidden;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .avariya {
        background-color: red;
    }


