@page "/avariyapage"
<h1>У НАС АВАРИЯ</h1>
<div style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 20px;">
   
    <img src="images/Авария в лодке.jpg" alt="Загруженное изображение" style="width: 300px; height: auto; margin: 10px; border: 1px solid #ccc;" />
    <img src="images/Патрик у нас авария.gif" alt="Загруженное изображение" style="width: 300px; height: auto; margin: 10px; border: 1px solid #ccc;" />

</div>

@code {

}
