@page "/profs"
<h3>Профессии космонавтов</h3>

<ul>
    @foreach (var profession in professions)
    {
        <li>@profession</li>
    }
</ul>

@code {
    // Список профессий космонавтов
    private List<string> professions = new List<string>
    {
        "Инженер-исследователь",
        "Пилот",
        "Строитель",
        "Экзобиолог",
        "Врач",
        "Инженер по терраформированию",
        "Климатолог",
        "Специалист по радиационной защите",
        "Астрогеолог",
        "Гляциолог",
        "Инженер жизнеобеспечения",
        "Метеоролог",
        "Оператор марсохода",
        "Киберинженер",
        "Штурман",
        "Пилот дронов"
    };
}
