@page "/promotion"

<h1 style="text-align: center;">Реклама кампании</h1>
<div style="font-size: 1.2em; text-align: center; margin-top: 20px;">
    <p>Человечество вырастает из детства.</p>
    <p>Человечеству мала одна планета.</p>
    <p>Мы сделаем обитаемыми безжизненные пока планеты.</p>
    <p>И начнем с Марса!</p>
    <p style="font-weight: bold;">Присоединяйся!</p>
</div>
<div style="text-align: center; margin-top: 20px;">

    <img src="images/mars.jpg" alt="Марс" style="width: 500px; height: auto; margin-right: 10px;" />
</div>