@page "/stateroom"

<h3>Каюты участников</h3>

<div style="display: flex; justify-content: space-around; align-items: center; gap: 20px; margin-top: 20px;">
    <!-- Первая область -->
    <div style="display: flex; flex-direction: column; align-items: center; border: 1px solid #ccc; padding: 10px;">
        <h4>Цвет стен</h4>
        <div style="width: 150px; height: 150px; background-color: orange;"></div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; border: 1px solid #ccc; padding: 10px;">
        <h4>Фото</h4>
        <img src="images/Тираногена.jpg" alt="Эскиз пришельца" style="width: 150px; height: auto;" />
    </div>

    <!-- Вторая область -->
    <div style="display: flex; flex-direction: column; align-items: center; border: 1px solid #ccc; padding: 10px;">
        <h4>Цвет стен</h4>
        <div style="width: 150px; height: 150px; background-color: lightblue;"></div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; border: 1px solid #ccc; padding: 10px;">
        <h4>Фото</h4>
        <img src="images/Трицерапобурашка.jpg" alt="Эскиз пришельца" style="width: 150px; height: auto;" />
    </div>
</div>

@code {

}
